h1 {
    color: red;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: #fbdc86;
    background-image: url('/images/universo.gif');
}
    
/*
A los elementos con atributo clase accedemos con el '.'
*/
.contenedor {
    border: 2px solid black;
    height: 500px;
    width: 89%;
    margin-left: 5%;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    background-color: rgb(2, 255, 129);   
}
/** Tabla */
table {
    margin: auto;
    border: 5px solid rgb(255, 11, 11);
}

/** Cada celda */
table tr td {
    width: 150px;
    height: 145px;
    border: 5px solid rgb(255, 9, 214);
}

.boton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color:  #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0
}
.boton:hover {
    color: #1883ba;
    background-color: #ffffff;
}
